[Unit]
Description=Starts hyprshell daemon
After=graphical-session.target
StartLimitIntervalSec=600
StartLimitBurst=5

[Service]
Type=simple
ExecStart={path} run {params}
Restart=on-failure
{extra}

[Install]
WantedBy=graphical-session.target