.monitor {
    padding: var(--window-padding, 2px);

    box-shadow: 0 0 16px 5px var(--bg-window-color, rgba(20, 30, 40, 0.9));

    border-radius: var(--border-radius, 12px);
    background: var(--bg-window-color, rgba(20, 20, 20, 0.9));
    border: var(--border-size, 3px) var(--border-style, solid) var(--border-color, rgba(90, 90, 120, 0.4));
}

.workspace {
    font-size: 1.8rem;
    font-weight: bolder;

    border-radius: var(--border-radius, 12px);
    border: var(--border-size, 3px) var(--border-style, solid) var(--border-color, rgba(90, 90, 120, 0.4));
}

.workspace.active {
    border: var(--border-size, 3px) var(--border-style, solid) var(--border-color-active, rgba(239, 9, 9, 0.9));
}

.workspace.special {
    box-shadow: inset 0 0 10px rgba(20, 200, 20, 0.8);
}


.client {
    font-size: 1.2rem;
    font-weight: normal;

    border-radius: var(--border-radius, 12px);
    background: var(--bg-color, rgba(20, 20, 20, 0.9));
    border: var(--border-size, 3px) var(--border-style, solid) var(--border-color, rgba(90, 90, 120, 0.4));
}

.client.active {
    border: var(--border-size, 3px) var(--border-style, solid) var(--border-color-active, rgba(239, 9, 9, 0.9));
}

.client.no-hover:hover {
    background: var(--bg-color, rgba(20, 20, 20, 0.9));
}

.client:hover {
    background: var(--bg-color-hover, rgba(40, 40, 50, 1));
}


.client-image {
    margin-top: 4px;
    margin-bottom: 4px;
}