:root {
    --border-color: rgba(255, 255, 255, 0);
    --border-color-active: rgba(120, 245, 255, 0.85);

    --box-shadow-color: rgba(255, 255, 255, 0.7);
    --box-shadow-color-hover: rgba(255, 255, 255, 0.85);

    --bg-color: rgba(255, 255, 255, 0.01);
    --bg-color-hover: rgba(255, 255, 255, 0.05);

    --border-radius: 24px;
    --border-size: 3px;
    --border-style: solid;

    --text-color: rgba(245, 245, 245, 1);

    --window-padding: 2px;
}


.monitor {
    border: unset;
    box-shadow: inset 0 0 30px var(--box-shadow-color);
}

.workspace {
    box-shadow: inset 0 0 25px var(--box-shadow-color);
}

.workspace.active {
    box-shadow: inset 0 0 30px var(--box-shadow-color-hover);
}

.workspace:hover {
    box-shadow: inset 0 0 35px var(--box-shadow-color-hover);
}

.client {
    box-shadow: inset 0 0 25px var(--box-shadow-color);
}

.client.active {
    box-shadow: inset 0 0 30px var(--box-shadow-color-hover);
}

.client:hover {
    box-shadow: inset 0 0 35px var(--box-shadow-color-hover);
}

.client-image {
}


.launcher {
    border: unset;
    box-shadow: inset 0 0 25px var(--box-shadow-color);
}

.launcher-input {
    border-radius: 12px;
    box-shadow: inset 0 0 8px var(--box-shadow-color);
}

.launcher-input:focus-within {
    outline: var(--border-size, 3px) var(--border-style, solid) var(--border-color-active);
    box-shadow: inset 0 0 12px var(--box-shadow-color-hover);
}

.launcher-results {
}

.launcher-item {
    padding: 0 10px;
    border-radius: 16px;
    box-shadow: inset 0 0 12px var(--box-shadow-color);
}

.launcher-item:hover {
    box-shadow: inset 0 0 14px var(--box-shadow-color-hover);
}

.launcher-exec {
}

.launcher-key {
}

.launcher-plugins {
}

.launcher-plugin {
    padding: 8px;
    border-radius: 24px;
    box-shadow: inset 0 0 20px var(--box-shadow-color);
}

.launcher-plugin:hover {
    box-shadow: inset 0 0 20px var(--box-shadow-color-hover);
}
