[Desktop Entry]
Name=Hyprshell config editor
Comment=Configure Hyprshell
Exec=/usr/bin/hyprshell config edit
Icon=hyprshell-settings
Type=Application
StartupWMClass="com.github.h3rmt.hyprshell-edit"
Keywords=hyprshell;settings;