/* style reset */
* {
    all: unset;
}

label {
    padding-top: 2px;
}

/* fix size for icons in launcher */
.large-icons {
    -gtk-icon-size: 32px;
}

flowboxchild {
    padding: 2px;
}

.monochrome {
    filter: grayscale(100%);
}

.underline {
    text-decoration: underline;
    /*text-decoration: underline dashed;*/
}

tooltip {
    padding: 5px;
    background-color: var(--bg-color-hover, rgba(40, 40, 50, 1));
    border-radius: var(--border-radius, 12px);
    border: 2px dashed var(--border-color, rgba(90, 90, 120, 0.4));
}

/* window text color */
.window {
    color: var(--text-color, rgba(245, 245, 245, 1));
}
