/* no opacity */
* {
    opacity: unset;
}

/* buttons need to be transparent as they wrap everything clickable */
button {
    background: unset;
    padding: unset;
    margin: unset;
    border: unset;
}

/* no background and no hover effects by default */
list {
    background: transparent;
}

/* no background and no hover effects by default */
row {
    background: transparent;
}

entry {
    background: transparent;
    color: var(--text-color, rgba(245, 245, 245, 1));
}

label {
    padding-top: 2px;
    color: var(--text-color, rgba(245, 245, 245, 1));
}

/* fix size for icons in launcher */
.large-icons {
    -gtk-icon-size: 32px;
}

/* some fix for the workspaces? */
flowboxchild {
    padding: 2px;
}

.monochrome {
    filter: grayscale(100%);
}

.underline {
    text-decoration: underline;
    /*text-decoration: underline dashed;*/
}

tooltip {
    font-size: 1rem;
    padding: 5px;
    background-color: var(--bg-color-hover, rgba(40, 40, 50, 1));
    border-radius: var(--border-radius, 12px);
    border: 2px dashed var(--border-color, rgba(90, 90, 120, 0.4));
}

/* window text color */
.window {
    color: var(--text-color, rgba(245, 245, 245, 1));
}
